@charset "UTF-8";
/*----------Global makecss----------*/
/*grey icon*/
/*--------------------Mobile design--------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif; }

i {
  color: #7E7E7E; }

.fa-heart {
  color: black;
  cursor: pointer;
  opacity: 0.3; }
  .fa-heart:hover {
    font-weight: 700;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /*voir compatibilité*/
    opacity: 1;
    transition: opacity 3s; }

button {
  padding: 14px 18px;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  box-shadow: 0 2px 5px grey;
  border-radius: 25px;
  font-size: 20px; }
  button:hover {
    background: linear-gradient(-10deg, #a16be0, #ff93e1);
    box-shadow: 0 2px 5px #1a1a1a; }

a {
  text-decoration: none;
  color: black; }

img {
  -o-object-fit: cover;
  object-fit: cover; }

h1 {
  font-size: 26px; }

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; }
  header img {
    height: 30px; }
  header i {
    font-size: 26px;
    position: absolute;
    left: 25px;
    bottom: 7px; }

.location {
  background: #EAEAEA;
  box-shadow: 0 1px 1px grey inset;
  padding: 10px 0 10px 0;
  text-align: center; }
  .location input {
    border: none;
    background: #EAEAEA;
    text-align: center; }
    .location input:focus {
      background: white; }
  .location::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.5rem; }

.explore {
  background: #F6F6F6;
  padding: 20px 10% 20px 10%;
  text-align: center; }
  .explore h1, .explore p, .explore button {
    margin-bottom: 20px; }

.functioning {
  margin: 40px 20px 50px 20px;
  font-weight: 700; }
  .functioning h1 {
    margin-bottom: 20px; }
  .functioning p {
    position: relative;
    height: 45px;
    background: #F6F6F6;
    border-radius: 18px;
    box-shadow: 0 6px 13px lightgrey;
    margin: 20px 5px 10px 5px;
    line-height: 45px; }
    .functioning p span {
      line-height: 1;
      position: absolute;
      left: -10px;
      top: 12px;
      font-weight: 400;
      color: white;
      background: #9356DC;
      border: 1px solid #9356DC;
      border-radius: 50%;
      padding: 2px 6px 2px 6px; }
    .functioning p i {
      width: 20px;
      margin: 0 15px 0 35px; }
    .functioning p:hover {
      background: #F5EDFF;
      transition: background 1s; }
      .functioning p:hover i {
        color: #9356DC;
        transition: color 1s; }

.restaurants {
  background: #F6F6F6; }
  .restaurants h1 {
    padding: 20px 0 0 20px;
    margin: 0 0 20px 0; }

.card {
  position: relative;
  margin: 20px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 6px 13px lightgrey; }
  .card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 170px; }
  .card i {
    position: absolute;
    font-size: 25px;
    bottom: 15px;
    right: 30px; }

.new {
  background: #99E2D0;
  font-size: 10px;
  font-weight: bold;
  color: #008766;
  padding: 6px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px; }

.rest_description {
  padding: 5px 10px 10px 10px; }
  .rest_description p, .rest_description h2 {
    font-size: 16px; }

footer {
  background: #353535;
  padding-bottom: 30px; }
  footer h2 {
    font-family: shrikhand, sans-serif;
    color: white;
    font-weight: 100;
    margin: 0 0 20px 20px;
    padding-top: 20px; }
  footer a {
    display: block;
    color: white;
    margin: 8px 0 0 20px; }
  footer i {
    color: white;
    width: 20px; }

/*-----Menu1 - La palette du gôut-----*/
#main_menu .hero {
  height: 300px;
  background-size: cover; }
  #main_menu .hero_menu1 {
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"); }

#main_menu .menu {
  margin-top: -30px;
  width: 100%;
  background: #F6F6F6;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column; }
  #main_menu .menu button {
    margin: 50px auto 50px auto; }

#main_menu h1 {
  font-family: shrikhand, sans-serif;
  font-weight: normal;
  width: 90%;
  margin: 0 20px 10px 20px;
  padding-top: 30px; }
  #main_menu h1 i {
    float: right;
    line-height: 38px; }

#main_menu .underline {
  border-bottom: #99E2D0 solid 4px;
  /*partial title underline*/ }

#main_menu h2 {
  font-weight: normal;
  margin: 20px; }

#main_menu article {
  background: white;
  border-radius: 20px;
  box-shadow: 0 6px 13px lightgrey;
  height: 65px;
  margin: 20px;
  display: flex;
  overflow: hidden; }
  #main_menu article h3 {
    flex-grow: 1;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #main_menu article .dish_compo {
    font-weight: 400;
    font-size: 15px; }
  #main_menu article .price {
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
    line-height: 6; }
  #main_menu article .check_icone {
    background: #99E2D0;
    height: 65px;
    border-radius: 0 20px 20px 0;
    width: 0;
    transition: width 1s; }
    #main_menu article .check_icone i {
      font-size: 25px;
      color: white;
      margin-left: 25px;
      line-height: 65px;
      transition: font-size 1s; }
  #main_menu article:hover .check_icone {
    width: 75px;
    transition: width 1s; }
    #main_menu article:hover .check_icone i {
      transform: rotate(2turn);
      transition: transform 1s; }

#main_menu button {
  padding: 10px 15px 10px 15px; }
