@charset "UTF-8";
/*----------Global makecss----------*/
/*--------------------Mobile design--------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif; }

button {
  padding: 14px 18px;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  box-shadow: 0 2px 5px grey;
  border-radius: 25px;
  font-size: 20px; }

.fa-heart {
  color: #7E7E7E; }

a {
  text-decoration: none;
  color: black; }

img {
  -o-object-fit: cover;
  object-fit: cover; }

h1 {
  font-size: 26px; }

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; }
  header img {
    height: 30px; }
  header i {
    font-size: 26px;
    position: absolute;
    left: 25px;
    bottom: 7px; }

.location {
  background: #EAEAEA;
  box-shadow: 0 1px 1px grey inset;
  padding: 10px 0 10px 0; }
  .location p {
    text-align: center; }
    .location p::before {
      content: "\f3c5";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 0.5rem; }

.explore {
  background: #F6F6F6;
  padding: 20px 10% 20px 10%;
  text-align: center; }
  .explore h1, .explore p, .explore button {
    margin-bottom: 20px; }

.functioning {
  margin: 40px 20px 50px 20px;
  font-weight: 700; }
  .functioning h1 {
    margin-bottom: 20px; }
  .functioning p {
    position: relative;
    text-align: center;
    height: 45px;
    background: #F6F6F6;
    border-radius: 18px;
    box-shadow: 0 6px 13px lightgrey;
    margin: 20px 5px 10px 5px;
    line-height: 45px; }
    .functioning p:nth-of-type(n)::before {
      font-family: "Font Awesome 5 Free";
      color: #7E7E7E;
      margin-right: 10px; }
    .functioning p:nth-of-type(1)::before {
      content: "\f3cd"; }
    .functioning p:nth-of-type(2)::before {
      content: "\f0ca"; }
    .functioning p:nth-of-type(3)::before {
      content: "\f54e"; }
    .functioning p span {
      line-height: 1;
      position: absolute;
      left: -10px;
      top: 12px;
      font-weight: 400;
      color: white;
      background: #9356DC;
      border: 1px solid #9356DC;
      border-radius: 50%;
      padding: 2px 6px 2px 6px; }
    .functioning p:hover {
      background: #F5EDFF;
      transition: background 1s; }
      .functioning p:hover::before {
        color: #9356DC;
        transition: color 1s; }

.restaurants {
  background: #F6F6F6; }
  .restaurants h1 {
    padding: 20px 0 0 20px;
    margin: 0 0 20px 0; }

.card {
  position: relative;
  width: 90%;
  margin: 20px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 6px 13px lightgrey; }
  .card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 170px; }
  .card i {
    position: absolute;
    font-size: 25px;
    color: #7E7E7E;
    bottom: 25px;
    right: 30px; }

.new {
  background: #99E2D0;
  font-size: 10px;
  font-weight: bold;
  color: #008766;
  padding: 6px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px; }

.rest_description {
  padding: 5px 10px 10px 10px; }
  .rest_description p, .rest_description h2 {
    font-size: 16px; }

footer {
  background: #353535;
  padding-bottom: 30px; }
  footer h2 {
    font-family: shrikhand, sans-serif;
    color: white;
    font-weight: 100;
    margin: 0 0 20px 20px;
    padding-top: 20px; }
  footer a {
    display: block;
    color: white;
    margin: 8px 0 0 20px; }

/*-----Menu1 - La palette du gôut-----*/
#main_menu .hero img {
  width: 100%;
  height: 300px;
  /*position: fixed; */
  /*problème de footer avec et sans position fixed*/
  top: 70px; }

#main_menu .menu {
  position: absolute;
  /*probleme de superposition quand inactif, probleme de footer quand actif*/
  top: 300px;
  width: 100%;
  background: #F6F6F6;
  border-radius: 20px 20px 0 0; }

#main_menu h1 {
  font-family: shrikhand, sans-serif;
  font-weight: normal;
  margin: 10px 20px 10px 20px; }
  #main_menu h1::after {
    content: "\f004";
    color: #7E7E7E;
    font-weight: 400;
    /*bold 700 for full heart*/
    font-family: "Font Awesome 5 Free";
    padding-left: 15%;
    /*% or px?*/ }

#main_menu .underline {
  border-bottom: #99E2D0 solid 4px;
  /*partial title underline*/ }

#main_menu h2 {
  font-weight: normal;
  margin: 20px; }

#main_menu article {
  background: white;
  border-radius: 20px;
  box-shadow: 0 6px 13px lightgrey;
  width: 90%;
  height: 65px;
  margin: 20px auto 20px auto;
  display: flex;
  justify-content: flex-end; }
  #main_menu article h3 {
    flex-grow: 1;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #main_menu article .dish_compo {
    font-weight: 400;
    font-size: 15px; }
  #main_menu article .price {
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
    line-height: 6; }
  #main_menu article .check_icone {
    background: #99E2D0;
    height: 65px;
    border-radius: 0 20px 20px 0;
    width: 0;
    transition: width 1s; }
    #main_menu article .check_icone i {
      font-size: 0;
      color: white;
      margin-left: 25px;
      line-height: 65px;
      transition: font-size 1s; }
  #main_menu article:hover .check_icone {
    width: 75px;
    transition: width 1s; }
    #main_menu article:hover .check_icone i {
      transform: rotate(2turn);
      font-size: 25px;
      transition: transform 1s, font-size 1s; }

#main_menu button {
  padding: 10px 15px 10px 15px; }

/*-----------------Loading spinner test----------------*/
#spin {
  position: absolute;
  z-index: 1;
  text-align: center;
  background: white;
  /*linear-gradient(45deg,$primary, $secondary)*/
  opacity: 1;
  /*à ajuster après finalisation animation*/
  color: red;
  width: 100%;
  height: 100vh;
  -webkit-animation: loading_spinner 5s both;
  animation: loading_spinner 5s both; }

@-webkit-keyframes loading_spinner {
  to {
    .logo {
      transform: rotate(5turn) scale(1) translateY(-15px);
      transition: transform 4s; }
    .plate {
      transform: rotate(5turn) scale(1);
      transition: transform 4s; }
    .fork {
      opacity: 1;
      transform: translateX(60px) translateY(-30px) scale(2) rotate(45deg);
      transition: opacity 1s, transform 1s; }
    .knife {
      opacity: 1;
      transform: translateX(-60px) translateY(-30px) scale(2) rotate(-45deg);
      transition: opacity 1s, transform 1s; }
    .splash {
      transform: scale(1);
      transition: transform 0s 5s; } } }

@keyframes loading_spinner {
  to {
    .logo {
      transform: rotate(5turn) scale(1) translateY(-15px);
      transition: transform 4s; }
    .plate {
      transform: rotate(5turn) scale(1);
      transition: transform 4s; }
    .fork {
      opacity: 1;
      transform: translateX(60px) translateY(-30px) scale(2) rotate(45deg);
      transition: opacity 1s, transform 1s; }
    .knife {
      opacity: 1;
      transform: translateX(-60px) translateY(-30px) scale(2) rotate(-45deg);
      transition: opacity 1s, transform 1s; }
    .splash {
      transform: scale(1);
      transition: transform 0s 5s; } } }
  #spin .fork {
    position: absolute;
    top: 200px;
    left: 100px;
    opacity: 1;
    /*à remettre à zéro après finalisation animation*/ }
  #spin .knife {
    position: absolute;
    top: 200px;
    left: 225px;
    opacity: 1;
    /*à remettre à zéro après finalisation animation*/ }
  #spin .splash {
    position: absolute;
    top: 245px;
    left: 170px;
    transform: scale(1);
    /*scale à remettre à zéro après finalisation animation*/ }
  #spin .plate {
    position: absolute;
    top: 200px;
    left: 122px;
    transform: rotate(0) scale(1);
    /*scale à remettre à zéro après finalisation animation*/ }
  #spin .logo {
    position: absolute;
    top: 245px;
    left: 145px;
    height: 10px;
    transform: rotate(0) scale(1) translateY(0);
    /*scale à remettre à zéro après finalisation animation*/ }
